<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Services status Monitor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <script th:src="@{/javascript/services-info.js}"></script>
    </head>
    <body>
        <div class="alert alert-danger d-none" role="alert" id="alertMessageNotification">
            <label id="alertMessageLabel">
            </label>
        </div>
        <br>
        <div class="container">
            <table class="table table-bordered" id="servicesListTable">
                <thead style="background-color: lightskyblue">
                    <tr>
                        <th style="width: 5%"></th>
                        <th style="width: 20%">Service</th>
                        <th style="width: 5%">Status</th>
                        <th style="width: 20%">JVM used memory, %</th>
                        <th>Full state</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="service : ${monitoredServices}">
                        <td></td>
                        <td th:text="${service.serviceName}" id="serviceName"></td>
                        <td th:text="${service.shortStatus}" id="shortStatus" ></td>
                        <td th:text="${service.usedMemoryPercentage}"></td>
                        <td th:text="${service.fullStatus}"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </body>

</html>










