<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Weather Information Service</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="weatherapi-weather-widget-3"></div>
        <script type='text/javascript'
                src='https://www.weatherapi.com/weather/widget.ashx?loc=2182457&wid=3&tu=1&div=weatherapi-weather-widget-3'
                async></script>
        <noscript><a href="https://www.weatherapi.com/weather/q/sankt-petersburg-saint-petersburg-city-russia-2182457"
                     alt="Hour by hour Sankt Petersburg, Saint Petersburg City, Russia weather">10 day hour by hour
            Sankt Petersburg, Saint Petersburg City, Russia weather</a></noscript>
    </body>
</html>










